.review-card {
  display: inline-block;
  max-width: 245px;
  text-decoration: none;
  position: relative;
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  overflow: hidden;

  img {
    height: 245px;
    width: 245px;
    max-width: 100%;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    line-height: 1;
    display: block;
    border: 3px solid black;
    object-fit: cover;
  }

  .heading {
    font-weight: 500;
    font-size: 1.15rem;
    padding: 10px;
    background-color: black;
    color: white;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    padding-bottom: 15px;
    transition: color 0.2s;
  }

  .review-type-indicator {
    color: #ddffff;
    background-color: black;
    position: absolute;
    right: -10px;
    top: 0;
    width: 50px;
    height: 30px;
    padding: 5px;
    padding-right: 15px;
    border-bottom-left-radius: 4px;
    transition: color 0.2s, transform 0.2s;
  }

  .creator {
    font-weight: 300;
    font-style: oblique;
  }

  &:hover,
  &:focus {
    .heading,
    .review-type-indicator {
      color: #fff000;
    }

    .review-type-indicator {
      transform: translateX(-10px);
    }
  }
}
